<div class="next-steps my-5" *ngIf="auth.isAuthenticated$ | async">
    <h2 class="my-5 text-center">What is this?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/connections">
            <fa-icon [icon]="faLink"></fa-icon> Dashboard
          </a>
        </h6>
        <p>
          This is a place holder for the first app maybe, the link still has auth0 things
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faLink"></fa-icon> Villegas Homepage 
          </a>
        </h6>
        <p>
          Maybe this can be the portal for the Villegas Social Network
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/anomaly-detection">
            <fa-icon [icon]="faLink"></fa-icon> App C
          </a>
        </h6>
        <p>
          Place holder for an app that I have invented yet
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/rules">
            <fa-icon [icon]="faLink"></fa-icon> Cookbook
          </a>
        </h6>
        <p>
          I'm thinking I can maybe leverage an OCR API and create
          an app that would display all of them for kayci
        </p>
      </div>
    </div>
  </div>
