.cell {
    flex: 1 0 30%; /* don't grow, don't shrink, width */
    /* border: 1px groove black;  */
    height: 28vh;
    background-color: transparent;
    text-align: center;
    /* padding-top: 45%; */
}
.cellLong {
    flex: 1 0 99%; /* don't grow, don't shrink, width */
    height: 28vh;
    /* margin: 3% 0 0 0; */
    /* border: 2px groove black; */
    background-color: transparent;
}
.grid {
    display: flex; /* establish flex container */
    flex-wrap: wrap; /* enable flex items to wrap */
    justify-content: space-around;
}
